/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	background-image: url("./assets/business-2089534_1920.jpg");
}

button > a {
	text-decoration: none;
	color: currentColor;
}

button > a:hover {
	cursor: inherit;
}

label.error {
	font-weight: normal;
	color: red;
}

mat-dialog-container {
  margin-left: auto;
  margin-right: auto;
}