.loader {
	border-style: solid;
	border-top-style: solid;
	border-color: #f3f3f3; /* Light grey */
	border-top-color: #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
.loader-sm {
    border-width: 4px; 
    border-top-width: 4px;
    width: 20px;
    height: 20px; 
}

.loader-md {
    border-width: 8px;
    border-top-width: 8px;
    width: 40px;
    height: 40px;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}