<div class="panel panel-default">
	<h3 style="padding-top: 15px">Stock Market Search</h3>
	<div class="form-group row" id="search-panel" >
		<form id="search-stock">
			<label for= "symbol" class="col-sm-3 col-xs-12 col-form-label">
				<span style="font-weight: bold">Enter Stock Ticker Symbol:</span>
		    	<span style="color: red">*</span>
			</label>
			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<input type = "search" class="form-control" id="symbol" name="symbol" 
					[formControl]="stateCtrl" [matAutocomplete]="auto"
					aria-describedby="helpBlock" placeholder="e.g. AAPL">
				</div>
				<mat-autocomplete #auto="matAutocomplete">
			      	<mat-option *ngFor="let stock of autoStockInfo | async" [value]="stock.Symbol">
			        	<span>{{ stock.Symbol }} - {{stock.Name}} ({{stock.Exchange}})</span>
	      			</mat-option>
	    		</mat-autocomplete>
			</div>
			<div class="col-sm-3 col-xs-12">
				<button type="submit" class="btn btn-primary" id="submit-symbol">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					Get Quote
				</button>
				<button type="reset" class="btn btn-default" (click)="resetForm()">
					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					Reset
				</button>
			</div>
		</form>
	</div>
</div>